# # 6.3 Geographic Visualization

### This script contaains the following:
### 1. Import data and libraries
### 2. Data wrangling
### 3. Data Cleaning
### 4. Plotting a map/choropleth
### 5. Discussing resultsh

### 1. Importing data and Libraries

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os

import folium
import json

In [17]:
# Import ".json" file North America. 

country_geo = r'D:\1. Data Analysis\Achievement 6 - New York Citi Bikes\3\custom.geo.json'

In [18]:
country_geo

'D:\\1. Data Analysis\\Achievement 6 - New York Citi Bikes\\3\\custom.geo.json'

In [19]:
# This command propts matplotlib visuals to appear in the notebook 

%matplotlib inline

In [20]:
data_cleaned=pd.read_csv(r'C:\Users\25670\Desktop\CiteBikes Analysis\02. Data\Prepared Data\citibike_clean.csv')

In [21]:
data_cleaned.head()

,trip_id,bike_id,weekday,start_hour,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,trip_duration,subscriber,birth_year,gender_label,start_year,start_month,end_hour,Age
0,LnQzQk,16013,Mon,18,523,W 38 St & 8 Ave,40.754666,-73.991382,334,W 20 St & 7 Ave,40.742388,-73.997262,993,Subscriber,1968.0,female,2013,9,18,45.0
1,IL9boN,15230,Thu,18,257,Lispenard St & Broadway,40.719392,-74.002472,236,St Marks Pl & 2 Ave,40.728419,-73.987140,581,Subscriber,1983.0,male,2013,9,18,30.0
2,46clGB,17942,Wed,19,479,9 Ave & W 45 St,40.760193,-73.991255,513,W 56 St & 10 Ave,40.768254,-73.988639,361,Subscriber,1989.0,male,2013,9,19,24.0
3,v7vdFt,19683,Sat,11,527,E 33 St & 1 Ave,40.743156,-73.974347,441,E 52 St & 2 Ave,40.756014,-73.967416,561,Subscriber,1988.0,female,2013,9,12,25.0
4,VGBsb5,18024,Sat,18,521,8 Ave & W 31 St,40.750450,-73.994811,476,E 31 St & 3 Ave,40.743943,-73.979661,2296,Non-Subscriber,NaN,unknown,2013,9,18,NaN

### 2. & 3. Data wrangling and data cleaning

In [22]:
station_data = data_cleaned.groupby('start_station_name')['start_station_id'].sum().reset_index()
station_data.columns = ['weeky', 'station_identification']

In [23]:
####  Check data types
print(station_data.dtypes)

# Convert to numeric, forcing errors to NaN
station_data['station_identification'] = pd.to_numeric(station_data['station_identification'], errors='coerce')

# Check for any NaN values that may have been introduced
print(station_data.isna().sum())

weeky                     object
station_identification     int64
dtype: object
weeky                     0
station_identification    0
dtype: int64

In [24]:
state_data = data_cleaned.groupby('start_station_name')['subscriber'].sum().reset_index()
state_data.columns = ['start', 'total_subscribers']

In [25]:
####  Check data types
print(state_data.dtypes)

# Convert to numeric, forcing errors to NaN
state_data['total_subscribers'] = pd.to_numeric(state_data['total_subscribers'], errors='coerce')

# Check for any NaN values that may have been introduced
print(state_data.isna().sum())

start                object
total_subscribers    object
dtype: object
start                  0
total_subscribers    330
dtype: int64

### 4. Plotting a map / achoropleth

In [26]:
import json

# Define the path to the GeoJSON file
geo_json_path = r'D:\1. Data Analysis\Achievement 6 - New York Citi Bikes\3\custom.geo.json'

# Load the geographic data
with open(geo_json_path, 'r', encoding='utf-8') as f:  # Remove quotes around geo_json_path
    country_geo = json.load(f)

# Print the loaded GeoJSON data (optional)
print(country_geo)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [27]:
data_cleaned.shape

(50000, 20)

In [28]:
# Create a map centered around the average location
m = folium.Map(location=[data_cleaned['start_station_latitude'].mean(), 
                        data_cleaned['start_station_longitude'].mean()], 
               zoom_start=2)

# Add markers for each location
data_cleaned.apply(lambda row: folium.Marker(
    location=[row['start_station_latitude'], row['start_station_longitude']],
    icon=folium.Icon(color='blue')
).add_to(m), axis=1)

#  Save the map
m.save('map.html')

In [29]:
#Add this in a new cell and run:

boroughs = [
    (40.8448, -73.8648),  # The Bronx
    (40.6782, -73.9442),  # Brooklyn
    (40.7831, -73.9712),  # Manhattan
    (40.7282, -73.7949),  # Queens
    (40.5795, -74.1502)   # Staten Island
]

# Calculate bounds
bounds = [
    [min([b[0] for b in boroughs]), min([b[1] for b in boroughs])],
    [max([b[0] for b in boroughs]), max([b[1] for b in boroughs])]
]

# Fit the map to the bounds of the markers
m.fit_bounds(bounds)

# Save the map to an HTML file
m.save('object.html')

### 5. Discussing results and what they mean

## Does the analysis answer any of your existing research questions?

### Yes, the analysis answers the geographical questions by showing the top and bottom stations for start and end stations. With this, we can understand the average trip durations, the peak hours of the day , and average trip numbers per day. All these can be drawn from the map created.

#### Does the analysis lead you to any new research questions?

### Yes, the analysis leads to new research questions such as;

# What is the average number of trips per day?
# What is the Ridership growth by start time?
# What is the bike utilization by bike ID?
# What are the peak hours of the day by hour against weekdays?